* {
	margin: 0;
	padding: 0;
	border: 0;
}footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 5vh;
	color: white;
	text-align: center;
	line-height: 5vh;
}
#head {
	width: 100vw;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	position: fixed;
	z-index: 9999;
}
#head h2 {
	font-size: 40px;
}
#main {
	width: 100vw;
	height: 100vh;
	background-size: 100% 100%;}
#bg {
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-size: 100% 100%;
		background-image: url(../img/BG.jpg);
		filter: blur(30px);
}
#mid {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	margin-top: 20vh;
	display: inline-flex;
	width: 90vw;
	height: 40vh;
}
#mid a {
	border-radius: 9px;
	margin: auto;
	background-color: rgba(240,248,255,0.5);
	background-image: none;
	width: 20%;
	height: 5vh;
	margin-top: 16vh;
	text-align: center;
	line-height:5vh;
	font-size: 3vh;
	transition: 0.3s ease;
	color: #000000;
	text-decoration: none;
}
#mid a:hover {
	margin-top: 8vh;
	height: 30vh;
}
#mid1 {
	position: relative;
	margin: auto;
	top: 10%;
	width: 90%;
	height: 60%;
	opacity: 0;
	transition: 0.5s ease;
}
#mid a:hover #mid1 {
	border-radius: 6px;
	background-image: url(../img/l2d.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-position-y: 80%;
	opacity: 1;
}
#mid2 {
	position: relative;
	margin: auto;
	top: 10%;
	width: 90%;
	height: 60%;
	opacity: 0;
	transition: 0.5s ease;
}
#mid a:hover #mid2 {
	border-radius: 6px;
	background-image: url(../img/3d.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-position-y: 30%;
	opacity: 1;
}
#mid3 {
	position: relative;
	margin: auto;
	top: 10%;
	width: 90%;
	height: 60%;
	opacity: 0;
	transition: 0.5s ease;
}
#mid a:hover #mid3 {
	border-radius: 6px;
	background-image: url(../img/shop.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-position-y: 80%;
	opacity: 1;
}
#link {
	width: 20vw;
	height: 5vh;
	position: absolute;
	margin: auto;
	left: 0;right: 0;
	margin-top: 85vh;
	text-align: center;
	color: white;
	line-height: 5vh;
}
#link a {
	font-size: 16px;
	color: white;
	text-decoration: none;
	transition: 0.2s ease;
}
#link a:hover {
	text-decoration: underline;
}
